@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;

$font-en: 'Lato', sans-serif;
$font-ja: 'Noto Sans JP', sans-serif;

$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  'pc': "(min-width: #{$layout-width-inner})"
);
// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*,*::after,*::before {
  box-sizing: border-box;
}

html,body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-ja;
  background: #fff;
  font-size: 16px;
  line-height: 1;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  max-width: 100%;
  margin: 0 auto;

  @include mq('sp') {
    width: 95%;
  }

  @include mq('tab') {
    width: 95%;
  }

  @include mq('pc') {
    width: $layout-width-inner;
  }
}

.section {
  padding: 100px 0 120px;
  
  @include mq('sp') {
    padding: 50px 0 60px;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  font-family: $font-en;
  text-align: center;
  padding-bottom: 28px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: $color-main;
    width: 60px;
    height: 4px;
    bottom: 0;
  }

  @include mq('sp') {
    font-size: 32px;
    padding-bottom: 14px;
    &::after {
      width: 45px;
      height: 2px;
    }
  }
}

// header

.header {
  background: $color-main;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include mq('sp') {
    height: 60px;
    padding: 0 16px;
  }

  @include mq('tab') {
    padding: 0 24px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
  height: 40px;

  @include mq('sp') {
    width: 180px;
  }

  a {
    img {
      display: block;
    }
  }
}

.header__nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-family: $font-en;

  @include mq('sp') {
    display: none;
  }

  li {
    &:not(:first-child) {
      margin-left: 40px;
    }

    a {
      text-decoration: none;
      color: #fff;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 2px;
        background: transparent;
        transition: all 0.3s ease 0s;
      }
      &.is-active,&:hover {
        &::after {
          background: $color-accent;
        }
      }
    }
  }
}

// main-visual

.main-visual {
  height: 600px;
  // height: calc(100vh - 100px);
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center / cover;
  position: relative;
  margin-top: 100px;

  @include mq('sp') {
    margin-top: 60px;
    // height: 370px;
    height: calc(100vh - 60px);
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  @include mq('sp') {
    padding: 0 45px;
  }
  @include mq('tab') {
    padding: 0 45px;
  }
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;

  @include mq('sp') {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 18px;

  @include mq('sp') {
    font-size: 18px;
    margin-top: 9px;
  }
}

.main-visual__button {
  margin-top: 30px;
  a {
    display: inline-block;
    background: $color-main;
    width: 384px;
    max-width: 100%;
    height: 72px;
    line-height: 72px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    @include mq('sp') {
      width: 280px;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      margin-top: 4px;
    }
  }

  
}

// card

.card {
  background: #EFEFEF;
  
}

.card__inner {

}

.card__title {
  
}

.card__items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.card__item {
  width: calc(33.3% - 23px * 2 / 3);
  padding: 16px;
  background: #fff;
  border-radius: 4px;

  @include mq('pc') {
    &:not(:nth-child(3n + 1)) {
      margin-left: 23px;
    }
  
    &:nth-child(n + 4) {
      margin-top: 24px;
    }
  }

  @include mq('sp') {
    width: 100%;
    margin-left: 0;
    &:nth-child(n + 2) {
      margin-top: 24px;
    }
  }

  @include mq('tab') {
    width: calc(50% - 23px * 1 / 2);

    &:not(:nth-child(2n + 1)) {
      margin-left: 23px;
    }

    &:nth-child(n + 3) {
      margin-top: 24px;
    }

  }
}

.card__item__img {
  img {
    width: 100%;
  }
}

.card__item__title {
  margin-top: 16px;
  color: #6F7579;
  font-size: 20px;
  font-weight: 700;
}

.card__item__text {
  margin-top: 10px;
  font-weight: 700;
  color: #6F7579;
  line-height: (24 / 16);
}

// news

.news {
  background: #FFFFFF;
}

.news__inner {

}

.news__title {

}

.news__items {
  width: 800px;
  max-width: 100%;
  margin: 48px auto 0;

  @include mq('sp') {
    width: 100%;
    margin-top: 40px;
  }
}

.news__item {
  display: flex;
  align-items: center;
  padding: 18px 0;
  width: 800px;
  max-width: 100%;

  &:not(:first-child) {
    border-top: 1px solid #707070;
  }

  @include mq('sp') {
    display: block;
    width: 100%;
    padding: 9px 5px 0;
  }
}

.news__meta {
  width: 185px;
  display: flex;
  align-items: center;
  
  @include mq('sp') {
    width: 100%;
  }
}

.news__date {
  width: 105px;
}

.news__label {
  width: 80px;
  a {
    display: inline-block;
    width: 80px;
    height: 32px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    background: #666666;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    &.is-red {
      background: #E81919;
    }

    &.is-blue {
      background: #3F51B5;
    }
  }
}

.news__message {
  width: calc(100% - 185px);
  line-height: (20 / 16);
  padding-left: 18px;
  a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }

  @include mq('sp') {
    padding: 9px 0;
    width: 100%;
  }
}

.news__more {
  margin-top: 44px;
  text-align: center;
  font-family: $font-en;
  a { 
    color: #E81919;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    padding-right: 14px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 11px;
      background: url(../img/news-arrow@2x.png) no-repeat center center / contain;
    }

  }

  @include mq('sp') {
    margin-top: 30px;
  }
}

// price

.price {
  background: #EFEFEF;
}

.price__inner {

}

.price__head {

}

.price__content {
  margin-top: 80px;
  display: flex;

  @include mq('sp') {
    display: block;
    margin-top: 40px;
  }
}

.price__img {
  width: calc(454 / 1200 * 100%);
  img {

  }

  @include mq('sp') {
    width: 100%;
  }
}

.price__table {
  width: calc((172 + 268 + 268) / 1200 * 100%);
  margin-left: auto;
  

  @include mq('sp') {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  border: 1px solid #707070;
  table-layout: fixed;
  width: 100%;

  th,td {
    border: 1px solid #707070;
    font-weight: 700;
    height: 58px;
  }

  tr {

  }
  
  th {
    background: #999999;
    color: #FFFFFF;
    font-family: $font-en;

    &:first-child {
      width: 172px;

      @include mq('sp') {
        width: 100px;
      }
    }
  }

  td {
    text-align: right;
    vertical-align: center;
    padding: 0 24px;
    line-height: 1.3;
    background: #FFFFFF;
  }

  strong {
    color: #E81919;
  }

  span {
    font-size: 13px;
    display: block;
  }

}

.price__attention {
  margin-top: 6px;
  font-size: 14px;
  a {
    font-weight: 700;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }
}

// access

.access {

}

.access__inner {

}

.access__head {

}

.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.iframe__wrapper {
  width: 100%;
  padding-top: (400 / 800 * 100%);
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__text {
  width: 800px;
  max-width: 100%;
  margin: 16px auto 0;
  
}

.access__row {
  display: flex;
  &:not(:first-child) {
    margin-top: 15px;
  }

  dl {
    
  }
  
  dt {
    font-weight: 700;
    padding: 0;
    margin: 0;
    width: 104px;
  }

  dd {
    padding: 0;
    margin: 0;
    width: calc(100% - 104px);
  }
}

.access__button {
  text-align: center;
  margin-top: 30px;
  a {
    display: inline-block;
    width: 304px;
    height: 56px;
    background: #3F51B5;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 56px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 17px;
      height: 16px;
      background: url(../img/button-arrow@2x.png) no-repeat center center / contain;
    }

  }
}

// contact

.contact {
  background: #EFEFEF;
}

.contact__inner {

}

.contact__head {

}

.contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding:45px 60px 60px;

  @include mq('sp') {
    padding: 30px;
    margin-top: 40px;
  }
}

.form {

}

.form__row {
  display: flex;
  
  @include mq('sp') {
    display: block;
  }

  dt,dd {
    margin: 0;
    padding: 0;

    @include mq('sp') {
      margin-top: 5px;
    }
  }

  &:not(:first-child) {
    margin-top: 60px;

    @include mq('sp') {
      margin-top: 30px;
    }
  }

}

.form__label {
  width: 160px;
  font-weight: 700;
  
  
  label {
    display: inline-block;
    padding-top: 11px;
    
    @include mq('sp') {
      padding-top: 0;
      
    }

    &.is-require {
      position: relative;

      &::after {
        content: "必須";
        position: absolute;
        top: calc(100% + 7px);
        left: 0;
        width: 44px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: $color-accent;
        border-radius: 4px;

        @include mq('sp') {
          top: 50%;
          left: calc(100% + 5px);
          transform: translateY(-50%);

          
          
        }
      }
    }
  }

}

.form__input {
  width: calc(100% - 160px);

  @include mq('sp') {
    width: 100%;
    
  }

  ::placeholder {
    color: #CCCCCC;
    font-size: 14px;
  }

  [type = text] {
    width: 100%;
    padding: 10px 16px 7px;
    appearance: none;
    border: 1px solid #707070;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
    background: #fff;
    border-radius: 0;
    font-family: inherit;
  }
  [type = email] {
    width: 100%;
    padding: 10px 16px 7px;
    appearance: none;
    border: 1px solid #707070;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
    background: #fff;
    border-radius: 0;
    font-family: inherit;
  }

  select {
    width: 100%;
    padding: 10px 16px 7px;
    appearance: none;
    border: 1px solid #707070;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
    background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center / 17px 14px ;
    border-radius: 0;
    font-family: inherit;
  }


  textarea {
    width: 100%;
    height: 240px;
    padding: 12px 16px;
    appearance: none;
    border: 1px solid #707070;
    font-size: 14px;
    color: inherit;
    box-shadow: none;
    background: #fff;
    border-radius: 0;
    font-family: inherit;
  }

}

.form__radio {
  margin-top: 29px;
  


  [type = radio] {
    display: none;
  }

  span {
    position: relative;
    padding-left: 28px;
    margin-right: 33px;

    @include mq('sp') {
      margin-right: 0;
      display: block;
      margin-top: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #707070;
      background: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #707070;
      background: $color-main;
      display: none;
      
    }

  }

  [type = radio]:checked + span {
    &::after {
      display: block;
    }
  }
}

.form__checkbox {
  margin-top: 67px;
  text-align: center;

  [type = checkbox] {
    display: none;
  }

  [type = checkbox]:checked + span {
    &::after {
      display: block;
    }
  }
  span {
    position: relative;
    padding-left: 49px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      border: 1px solid #707070;
      background: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      border: 1px solid #707070;
      background: transparent url(../img/checkbox@2x.png) no-repeat center center / contain;
      display: none;
    } 

    a {
      font-weight: 700;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }

  }
}

.form__submit {
  margin-top: 35px;
  text-align: center;

  [type = submit] {
    display: inline-block;
    width: 304px;
    height: 56px;
    background: $color-main url(../img/button-arrow@2x.png) no-repeat right 12px center / 17px 16px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    appearance: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      
    }
  }
  
}

// modal
.is-fixed {
  height: 100vh;
  overflow-y: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  background: #FFFFFF;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 501;
  padding: 60px;
  @include mq('sp') {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal__head {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #707070;
  position: relative;
  padding-bottom: 26px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background: $color-main;
  }


}

.modal__content {
  margin-top: 40px;
  height: calc(100% - 90px - 108px);
  overflow: auto;
  > :first-child {
    margin-top: 0;
  }
}

.modal__sub-head {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #707070;
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    background: $color-main;
  }
}

.modal__text {
  color: #707070;
  padding-left: 20px;
  margin-top: 16px;
  line-height: (24 / 16);
}

.modal__cross {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  z-index: 502;
  a {
    img {

    }
  }
}

.modal__button {
  margin-top: 60px;
  text-align: center;
  a {
    display: inline-block;
    width: 176px;
    height: 48px;
    text-decoration: none;
    line-height: 48px;
    color: #fff;
    background: $color-main;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    font-weight: 700;
  }
}

.modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, 0.3);
  z-index: 500;
}



// qa
.qa {
  background: #EEEEEE;
}

.qa__inner {

}

.qa__title {

}

.qa__items {
  margin: 80px auto 0;
  width: 900px;
  max-width: 100%;
}

.qa__item {
  &:nth-child(n + 2) {
    margin-top: 24px;
  }
}

.qa__q {
  background: $color-main;
  padding: 12px 14px 12px 20px;
  position: relative;
  cursor: pointer;
}

.qa__content {
  color: #fff;
  font-weight: 700;
  padding-left: 36px;
  position: relative;

  &::before {
    content: "Q";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
  }
}

.qa__icon {
  top: 13px;
  right: 14px;
  width: 14px;
  height: 14px;
  position: absolute;

  &.is-open {
    .qa__bar2 {
      display: none;
    }
  }
}

.qa__bar1 {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 20px;
  }
}

.qa__bar2 {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 14px;
    background: #fff;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
  }
}

.qa__a {
  display: none;
  font-weight: 700;
  line-height: (24 / 16);
  background: #fff;
  border: 1px solid $color-main;
  color: $color-main;
  padding: 16px 30px 16px 55px;
  position: relative;

  &::before {
    content: "A";
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 15px;
  }
}







// footer

.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
  height: 258px;

  @include mq('sp') {
    padding: 30px 0 12px;
  }
}

.footer__inner {

}

.footer__content {
  display: flex;

  @include mq('sp') {
    display: block;
  }
}

.footer__left {
  width: 205px;
}

.footer__logo {
  a {
    img {
      width: 205px;
      height: 40px;
    }
  }
}

.footer__address {
  margin-top: 31px;
  font-size: 14px;

  @include mq('sp') {
    margin-top: 8px;
  }
  
}

.footer__tel {
  margin-top: 14px;
  font-size: 14px;
  font-family: $font-en;

  @include mq('sp') {
    margin-top: 3px;
  }
}

.footer__center {
  width: calc(100% - 205px - 122px);

  @include mq('sp') {
    width: 100%;

  }
}

.footer__nav {
  font-family: $font-en;
  @include mq('pc') {
    margin-left: 203px;
  }
  
  @include mq('sp') {
    margin-left: 0;
    margin-top: 10px;
  }
  ul {
    display: flex;
    @include mq('tab') {
      justify-content: center;
    }
    li {

      &:not(:first-child) {
        margin-left: 40px;

        @include mq('sp') {
          margin-left: 20px;
        }

        @include mq('tab') {
          margin-left: 20px;
        }
        
      }
      
      a {
        text-decoration: none;
        transition: all 0.3s ease 0s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  
}

.footer__right {
  width: 122px;
  
}

.footer__sns {
  
  display: flex;
  justify-content: flex-end;
  li {
    &:not(:first-child) {
      margin-left: 16px;
    }
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
      img {

      }
    }
  }
}

.footer__copy {
  text-align: center;
  font-size: 14px;
  margin-top: 46px;
  font-family: $font-en;

  @include mq('sp') {
    margin-top: 10px;
    text-align: left;
  }
}

.to-top {
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  &.is-show {
    opacity: 1;
    visibility: visible;
  }
  a {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 24px;
    bottom: 24px;
    
    &:hover {
      opacity: 0.7;
    }

    @include mq('sp') {
      width: 40px;
      height: 40px;
      right: 12px;
      bottom: 12px;
    }
    img {

    }
  }
}

.swiper-button-next {
  width: 41px;
  height: 40px;
  margin-top: -20px;
  right: calc(50% - #{$layout-width-inner} / 2);
  @include mq('sp') {
    right: 10px;
  }
  @include mq('tab') {
    right: 10px;
  }
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center / contain;
  &::after {
    display: none;
  }
}

.swiper-button-prev {
  width: 41px;
  height: 40px;
  margin-top: -20px;
  left: calc(50% - #{$layout-width-inner} / 2);
  @include mq('sp') {
    left: 10px;
  }
  @include mq('tab') {
    left: 10px;
  }
  background: transparent url(../img/./arrow-prev@2x.png) no-repeat center center / contain;
  &::after {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #FFFFFF9E;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2F7DC8;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

// drawer

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 200;
  display: none;
  @include mq('sp') {
    display: block;
  }
  &.is-active {
    .drawer__bar1 {
      top: 8px;
      transform: rotate(-45deg);
    }
    
    .drawer__bar2 {
      display: none;
    }
    
    .drawer__bar3 {
      top: 8px;
      transform: rotate(45deg);
    }
    transform: translateX(-200px);
  }
  transition: transform 0.5s ease 0s;
}

.drawer__bars {
  position: relative;
}

.drawer__bar1,.drawer__bar2,.drawer__bar3 {
  width: 22px;
  height: 4px;
  background: #fff;
  position: absolute;
  right: 0;
}

.drawer__bar1 {
  top: 0;
}

.drawer__bar2 {
  top: 8px;
}

.drawer__bar3 {
  top: 16px;
}

.drawer-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background:#fff;
  z-index: 201;
  transform: translateX(105%);
  box-shadow: 0 0 3px rgba(#000, 0.16);
  transition: transform 0.5s ease 0s;
  &.is-active {
    transform: translateX(0);
  }
  
}

.drawer__items {

}

.drawer__item {
  a {
    display: block;
    padding: 20px;
    border-bottom: 1px dotted #707070;
    text-decoration: none;
    color: #707070;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 11px;
      background: url(../img/arrow-b@2x.png) no-repeat center center / contain;
    }
  }
}


.drawer-background {

  &.is-active {
    background: rgba(#000000, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
  }
  
}